In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
#Loading of Dataset
df = pd.read_csv("C:/Users/Pushpak/Downloads/KDD/KDDTrain+.txt")
test_df = pd.read_csv("C:/Users/Pushpak/Downloads/KDD/KDDTest+.txt")

In [3]:
# add the column labels
columns = (['duration'
,'protocol_type'
,'service'
,'flag'
,'src_bytes'
,'dst_bytes'
,'land'
,'wrong_fragment'
,'urgent'
,'hot'
,'num_failed_logins'
,'logged_in'
,'num_compromised'
,'root_shell'
,'su_attempted'
,'num_root'
,'num_file_creations'
,'num_shells'
,'num_access_files'
,'num_outbound_cmds'
,'is_host_login'
,'is_guest_login'
,'count'
,'srv_count'
,'serror_rate'
,'srv_serror_rate'
,'rerror_rate'
,'srv_rerror_rate'
,'same_srv_rate'
,'diff_srv_rate'
,'srv_diff_host_rate'
,'dst_host_count'
,'dst_host_srv_count'
,'dst_host_same_srv_rate'
,'dst_host_diff_srv_rate'
,'dst_host_same_src_port_rate'
,'dst_host_srv_diff_host_rate'
,'dst_host_serror_rate'
,'dst_host_srv_serror_rate'
,'dst_host_rerror_rate'
,'dst_host_srv_rerror_rate'
,'attack'
,'level'])

df.columns = columns
test_df.columns = columns

# sanity check
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level
0,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19
2,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21
3,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21

In [4]:
# map normal to 0, all attacks to 1
is_attack = df.attack.map(lambda a: 0 if a == 'normal' else 1)
test_attack = test_df.attack.map(lambda a: 0 if a == 'normal' else 1)

#data_with_attack = df.join(is_attack, rsuffix='_flag')
df['attack_flag'] = is_attack
test_df['attack_flag'] = test_attack

# view the result
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level,attack_flag
0,0,udp,other,SF,146,0,0,0,0,0,...,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,0
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,1
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,0
3,0,tcp,http,SF,199,420,0,0,0,0,...,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal,21,0
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21,1

In [5]:
np.shape(df)

(125972, 44)

In [6]:
set(df['protocol_type'])

{'icmp', 'tcp', 'udp'}

In [7]:
set(df['attack'])

{'back',
 'buffer_overflow',
 'ftp_write',
 'guess_passwd',
 'imap',
 'ipsweep',
 'land',
 'loadmodule',
 'multihop',
 'neptune',
 'nmap',
 'normal',
 'perl',
 'phf',
 'pod',
 'portsweep',
 'rootkit',
 'satan',
 'smurf',
 'spy',
 'teardrop',
 'warezclient',
 'warezmaster'}

In [8]:
set(df['service'])

{'IRC',
 'X11',
 'Z39_50',
 'aol',
 'auth',
 'bgp',
 'courier',
 'csnet_ns',
 'ctf',
 'daytime',
 'discard',
 'domain',
 'domain_u',
 'echo',
 'eco_i',
 'ecr_i',
 'efs',
 'exec',
 'finger',
 'ftp',
 'ftp_data',
 'gopher',
 'harvest',
 'hostnames',
 'http',
 'http_2784',
 'http_443',
 'http_8001',
 'imap4',
 'iso_tsap',
 'klogin',
 'kshell',
 'ldap',
 'link',
 'login',
 'mtp',
 'name',
 'netbios_dgm',
 'netbios_ns',
 'netbios_ssn',
 'netstat',
 'nnsp',
 'nntp',
 'ntp_u',
 'other',
 'pm_dump',
 'pop_2',
 'pop_3',
 'printer',
 'private',
 'red_i',
 'remote_job',
 'rje',
 'shell',
 'smtp',
 'sql_net',
 'ssh',
 'sunrpc',
 'supdup',
 'systat',
 'telnet',
 'tftp_u',
 'tim_i',
 'time',
 'urh_i',
 'urp_i',
 'uucp',
 'uucp_path',
 'vmnet',
 'whois'}

In [9]:
# lists to hold our attack classifications
dos_attacks = ['apache2','back','land','neptune','mailbomb','pod','processtable','smurf','teardrop','udpstorm','worm']
probe_attacks = ['ipsweep','mscan','nmap','portsweep','saint','satan']
privilege_attacks = ['buffer_overflow','loadmdoule','perl','ps','rootkit','sqlattack','xterm']
access_attacks = ['ftp_write','guess_passwd','http_tunnel','imap','multihop','named','phf','sendmail','snmpgetattack','snmpguess','spy','warezclient','warezmaster','xclock','xsnoop']

# we will use these for plotting below
attack_labels = ['Normal','DoS','Probe','Privilege','Access']

# helper function to pass to data frame mapping
def map_attack(attack):
    if attack in dos_attacks:
        # dos_attacks map to 1
        attack_type = 1
    elif attack in probe_attacks:
        # probe_attacks mapt to 2
        attack_type = 2
    elif attack in privilege_attacks:
        # privilege escalation attacks map to 3
        attack_type = 3
    elif attack in access_attacks:
        # remote access attacks map to 4
        attack_type = 4
    else:
        # normal maps to 0
        attack_type = 0
        
    return attack_type

# map the data and join to the data set
attack_map = df.attack.apply(map_attack)
df['attack_map'] = attack_map

test_attack_map = test_df.attack.apply(map_attack)
test_df['attack_map'] = test_attack_map

# view the result
df.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,attack,level,attack_flag,attack_map
0,0,udp,other,SF,146,0,0,0,0,0,...,0.88,0.00,0.00,0.00,0.0,0.00,normal,15,0,0
1,0,tcp,private,S0,0,0,0,0,0,0,...,0.00,0.00,1.00,1.00,0.0,0.00,neptune,19,1,1
2,0,tcp,http,SF,232,8153,0,0,0,0,...,0.03,0.04,0.03,0.01,0.0,0.01,normal,21,0,0
3,0,tcp,http,SF,199,420,0,0,0,0,...,0.00,0.00,0.00,0.00,0.0,0.00,normal,21,0,0
4,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.00,0.00,0.00,1.0,1.00,neptune,21,1,1

In [10]:
set(df['attack_map'])

{0, 1, 2, 3, 4}

In [11]:
# get the intial set of encoded features and encode them
features_to_encode = ['protocol_type', 'service', 'flag']
encoded = pd.get_dummies(df[features_to_encode])
test_encoded_base = pd.get_dummies(test_df[features_to_encode])

# not all of the features are in the test set, so we need to account for diffs
test_index = np.arange(len(test_df.index))
column_diffs = list(set(encoded.columns.values)-set(test_encoded_base.columns.values))

diff_df = pd.DataFrame(0, index=test_index, columns=column_diffs)

# we'll also need to reorder the columns to match, so let's get those
column_order = encoded.columns.to_list()

# append the new columns
test_encoded_temp = test_encoded_base.join(diff_df)

# reorder the columns
test_final = test_encoded_temp[column_order].fillna(0)

# get numeric features, we won't worry about encoding these at this point
numeric_features = ['duration', 'src_bytes', 'dst_bytes']

# model to fit/test
to_fit = encoded.join(df[numeric_features])
test_set = test_final.join(test_df[numeric_features])

In [12]:
# create our target classifications
binary_y = df['attack_flag']
multi_y = df['attack_map']

test_binary_y = test_df['attack_flag']
test_multi_y = test_df['attack_map']

# build the training sets
binary_train_X, binary_val_X, binary_train_y, binary_val_y = train_test_split(to_fit, binary_y, test_size=0.6)
multi_train_X, multi_val_X, multi_train_y, multi_val_y = train_test_split(to_fit, multi_y, test_size = 0.6)

In [13]:
binary_train_X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50388 entries, 64341 to 96139
Data columns (total 87 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   protocol_type_icmp   50388 non-null  bool
 1   protocol_type_tcp    50388 non-null  bool
 2   protocol_type_udp    50388 non-null  bool
 3   service_IRC          50388 non-null  bool
 4   service_X11          50388 non-null  bool
 5   service_Z39_50       50388 non-null  bool
 6   service_aol          50388 non-null  bool
 7   service_auth         50388 non-null  bool
 8   service_bgp          50388 non-null  bool
 9   service_courier      50388 non-null  bool
 10  service_csnet_ns     50388 non-null  bool
 11  service_ctf          50388 non-null  bool
 12  service_daytime      50388 non-null  bool
 13  service_discard      50388 non-null  bool
 14  service_domain       50388 non-null  bool
 15  service_domain_u     50388 non-null  bool
 16  service_echo         50388 non-null  bool
 17  service_eco_i        50388 non-null  bool
 18  service_ecr_i        50388 non-null  bool
 19  service_efs          50388 non-null  bool
 20  service_exec         50388 non-null  bool
 21  service_finger       50388 non-null  bool
 22  service_ftp          50388 non-null  bool
 23  service_ftp_data     50388 non-null  bool
 24  service_gopher       50388 non-null  bool
 25  service_harvest      50388 non-null  bool
 26  service_hostnames    50388 non-null  bool
 27  service_http         50388 non-null  bool
 28  service_http_2784    50388 non-null  bool
 29  service_http_443     50388 non-null  bool
 30  service_http_8001    50388 non-null  bool
 31  service_imap4        50388 non-null  bool
 32  service_iso_tsap     50388 non-null  bool
 33  service_klogin       50388 non-null  bool
 34  service_kshell       50388 non-null  bool
 35  service_ldap         50388 non-null  bool
 36  service_link         50388 non-null  bool
 37  service_login        50388 non-null  bool
 38  service_mtp          50388 non-null  bool
 39  service_name         50388 non-null  bool
 40  service_netbios_dgm  50388 non-null  bool
 41  service_netbios_ns   50388 non-null  bool
 42  service_netbios_ssn  50388 non-null  bool
 43  service_netstat      50388 non-null  bool
 44  service_nnsp         50388 non-null  bool
 45  service_nntp         50388 non-null  bool
 46  service_ntp_u        50388 non-null  bool
 47  service_other        50388 non-null  bool
 48  service_pm_dump      50388 non-null  bool
 49  service_pop_2        50388 non-null  bool
 50  service_pop_3        50388 non-null  bool
 51  service_printer      50388 non-null  bool
 52  service_private      50388 non-null  bool
 53  service_red_i        50388 non-null  bool
 54  service_remote_job   50388 non-null  bool
 55  service_rje          50388 non-null  bool
 56  service_shell        50388 non-null  bool
 57  service_smtp         50388 non-null  bool
 58  service_sql_net      50388 non-null  bool
 59  service_ssh          50388 non-null  bool
 60  service_sunrpc       50388 non-null  bool
 61  service_supdup       50388 non-null  bool
 62  service_systat       50388 non-null  bool
 63  service_telnet       50388 non-null  bool
 64  service_tftp_u       50388 non-null  bool
 65  service_tim_i        50388 non-null  bool
 66  service_time         50388 non-null  bool
 67  service_urh_i        50388 non-null  bool
 68  service_urp_i        50388 non-null  bool
 69  service_uucp         50388 non-null  bool
 70  service_uucp_path    50388 non-null  bool
 71  service_vmnet        50388 non-null  bool
 72  service_whois        50388 non-null  bool
 73  flag_OTH             50388 non-null  bool
 74  flag_REJ             50388 non-null  bool
 75  flag_RSTO            50388 non-null  bool
 76  flag_RSTOS0          50388 non-null  bool
 77  flag_RSTR            50388 non-null  bool
 78  flag_S0              50388 non-null  bool
 79  flag_S1              50388 non-null  bool
 80  flag_S2              50388 non-null  bool
 81  flag_S3              50388 non-null  bool
 82  flag_SF              50388 non-null  bool
 83  flag_SH              50388 non-null  bool
 84  duration             50388 non-null  int64
 85  src_bytes            50388 non-null  int64
 86  dst_bytes            50388 non-null  int64
dtypes: bool(84), int64(3)
memory usage: 5.6 MB

In [14]:
binary_train_X.sample(5)

,protocol_type_icmp,protocol_type_tcp,protocol_type_udp,service_IRC,service_X11,service_Z39_50,service_aol,service_auth,service_bgp,service_courier,...,flag_RSTR,flag_S0,flag_S1,flag_S2,flag_S3,flag_SF,flag_SH,duration,src_bytes,dst_bytes
70816,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,0,343,1898
81471,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,0,227,1456
17355,False,True,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,0,0,0
18268,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,2,2352,333
124537,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,0,242,576

In [15]:
# model for the binary classification
binary_model = RandomForestClassifier()
binary_model.fit(binary_train_X, binary_train_y)
binary_predictions = binary_model.predict(binary_val_X)

# calculate and display our base accuracty
base_rf_score = accuracy_score(binary_predictions,binary_val_y)
base_rf_score

0.9929482430143945

In [16]:
# model for the mulit classification
multi_model = RandomForestClassifier()
multi_model.fit(multi_train_X, multi_train_y)
multi_predictions = multi_model.predict(multi_val_X)

# get the score
accuracy_score(multi_predictions,multi_val_y)

0.9761722057578324